<nav class="HeaderBar">
  <ul class="Navigation">
    <li>
      <a class="Navigation__Item" href="/">Home</a>
    </li>
    <li>
      <a class="Navigation__Item" href="/edit">Edit Metafield</a>
    </li>
    <li>
      <a class="Navigation__Item" href="/file_import">File Import</a>
    </li>
  </ul>
</nav>
